$size:20px;
$fondo-de-color:  rgb(255, 136, 127);
$ancho: 100%;
$black: #0000;
$white: rgb(255, 255, 255);
$color1: rgb(248, 152, 7);
$color2:rgb(214, 126, 19);
    $color3  :red;
$color4:rgb(241, 228, 204); 
$text-decoration:none;
$overflow:hidden;
$buttom1: rgb(218, 175, 37);
$buttom2:rgb(139, 95, 13);
$buttom3:blanchedalmond;
$buttom4:rgb(226, 131, 43);
$buttom5:rgb(153, 78, 7);