
.sproduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .productos{
        display: flex;
        flex-direction: row;
     }
     .sproduct2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        flex-flow: column;
         span{
            margin-bottom: 1em;
        }
        .titulo{
            font-size: 1.5em;
        }
        .stock{color: rgb(227, 183, 50);
        border: 1px solid rgb(231, 187, 64);
        background-color: black;
        font-size: 1.2em;}
        .precio{
            font-size: 1.5em;
        }

    }  
    .imagen-descript img{
        max-width: 70%;
       border-radius: 20px;
       border: 1px solid red;
       }
      
    }


