@import "../variables/variables";
@import "../sass2/mixins";

  
           /*presentacion*/
           
           
           .presentacion{display: flex; 
            justify-content: center;
            background-color:$black;
            background-image: url("../imagenes/presenta.jpeg");
            color:$white;
            text-align: center;
            align-items: center;
            section{
              text-align: center;
           }
       
             }
       
            section{ 
              
               display: flex;
               width: 100%;
              justify-content: space-between;
              align-items: center;
              padding: 20px;
              text-align: center;
              .estilo-a{
                width: 33%;
            }
            .estilo-a a{
              
              text-decoration: none;
              color:$color1;
              }
           }   
          .estilo-a a:hover{
              text-decoration: underline;
              color: $color2;
              
          }
         
        .imagen-conteiner img{
              width: 100%;
              object-fit: cover;
              height: 500px;
              border-radius: 15px;
              
          }
         