
/*aqui comenzamos a hacer la vista para tablet*/
    
@media screen and (max-width:928px){
    
    .conteiner{
        display: grid;
        grid-template-columns:repeat(2, 50%) ;
        grid-template-rows: 100px 600px 600px  300px;
       grid-template-areas:
       "nav nav "
       "presentacion presentacion "
       "productos productos"
       "footer footer " ;  
    }
 .nav{
    display: flex;
    display: grid;}
 .nav{
    display: flex;
   text-align: center;   
}
.nav a{
    padding: none;
    background-color: $white;
    text-align: center;
}
.nav img{
    display: none;
}
  /*presentacion*/
.presentacion{
    display: grid;
}


  /*mejoramos la parte de productos "fotos"*/

.productos{ display: flex;
    justify-content: center;
    display: grid;
    grid-area: productos;
   img{
    display: flex;
    max-height: 400px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
    }
   }
 

/*footer*/
.footer{
    display: grid;
}
   
/*aca vamos a hacer el grid del index productos*/
 .conteiner3{
    display: grid;
    grid-template-columns:repeat(2, 50%) ;
    grid-template-rows: 100px 600px 600px ;
   grid-template-areas:
   "nav nav"
   "productos productos"
   "footer footer " ;  
}
 .nav{display: grid;
    grid-area: nav;
    background-color:$white;
   
}
  .productos1{display: grid;
    display: flex;
   justify-content: center;
    grid-area: productos;
     flex-direction: column;
    text-align: center;
    display: grid;
}
.productos1 img{
    display: flex;
    max-height: 400px;
  }
}

   /************aca comenzamos con modo celular********************************/
   @media screen and (max-width:680px){
    .conteiner{
            display: grid;
            grid-template-columns:repeat(1, 100%);
            grid-template-rows: 100px 600px 600px 300px;
           grid-template-areas:
           "nav"
           "presentacion"
           "productos"
           "footer";  
        }
     nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        display: grid;
        background-color:$color1}
        .nav{
        display: flex;
        text-align: center; 
        a{
            padding: none;
            background-color: $white;
            text-align: center;  }
            img{
                display: none;
            }
         }
   
   
    /*presentacion*/
    .presentacion{
        display: grid;
        align-items: center;
        text-align: center;
       }  
       
     /*mejoramos la parte de productos "fotos"*/
    
    .productos{ display: flex;
        justify-content: center;
        display: grid;
        grid-area: productos;
        width: 100%;
        ; }
    .-productos{  display: flex;
        display: grid;
       justify-content: center; 
       width:100%;
    }
     .productos img{
        display: flex;
        text-align: center;
        width: 100%;
       
        border: none ;
        justify-content: center; 
    }
 
    /*footer*/
    .footer{
        display: grid;
        text-align: center;
    }
        /*aca vamos a hacer el grid del index productos*/
     .conteiner3{
        display: grid;
        grid-template-columns:repeat(1, 100%) ;
        grid-template-rows: 100px 90% 300px ;
       grid-template-areas:
       "nav"
       "productos"
       "footer " ;  
    }
    
    .nav{display: grid;
        grid-area: nav;
        background-color:$white;
       
    }
    
    .productos1{display: grid;
        display: flex;
       justify-content: center;
        grid-area: productos;
    }
    .productos1 img{
        display: flex;
        max-height: 400px;
        text-align: center
    }
    .footer{
        display: grid;
        grid-area: footer;
    }
    } 

    /* aca tenemos el media del menu*/
    @media (max-width: 952px){
        .enlace{
            padding-left: 20px;
        }
        nav ul li a{
            font-size: 16px;
        }
    }
    
    @media (max-width: 600px){
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh; 
            background: $color1;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 20px;
        }
        li a:hover, li a.active{
            background: none;
            color:$color3;
        } 
        #check:checked ~ ul{
            left:0;
        }
     .enlace{
         display: none;
     }
    }