




/*aqui comenzamos a hacer la vista para tablet*/
    
@media screen and (max-width:928px){
    
    .conteiner{
        display: grid;
        grid-template-columns:repeat(2, 50%) ;
        grid-template-rows: 100px 600px 600px 50% 600px;
       grid-template-areas:
       "nav nav "
       "presentacion presentacion "
      
       "productos productos"
       "footer footer " ;  
    }
 .nav{
    display: flex;
    display: grid;}
 .nav{
    display: flex;
   text-align: center;   
}
.nav a{
    padding: none;
    background-color: rgb(254, 254, 254);
    text-align: center;
}
.nav img{
    display: none;
}
  /*presentacion*/
.presentacion{
    display: grid;
}

/*aca va el sillon con su p*/

.nosotros{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: white;
    align-items: center;
   }
   .nosotros p{
    width: 100%;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
   }
.nosotros img{
    width: 50%;
    display: inline-flex;
}
  /*mejoramos la parte de productos "fotos"*/

.productos{ display: flex;
    justify-content: center;
    display: grid;
    grid-area: productos;
   
   
}
.flex-productos{  display: flex;
    display: grid;
   justify-content: center;
  }
 .flex-productos img{
    display: flex;
    max-height: 400px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
}
.productos h1{
    text-align: center;
}
/*footer*/
.footer{
    display: grid;
}
   
/*aca vamos a hacer el grid del index productos*/
 .conteiner3{
    display: grid;
    grid-template-columns:repeat(2, 50%) ;
    grid-template-rows: 100px 600px 600px ;
   grid-template-areas:
   "nav nav"
   "productos productos"
   "footer footer " ;  
}
 .nav{display: grid;
    grid-area: nav;
    background-color:white;
   
}
  .productos1{display: grid;
    display: flex;
   justify-content: center;
    grid-area: productos;
     flex-direction: column;
    text-align: center;
    display: grid;
}
.productos1 img{
    display: flex;
    max-height: 400px;
  
 
}

}




   /************aca comenzamos con modo celular********************************/
   @media screen and (max-width:680px){
    .conteiner{
            display: grid;
            grid-template-columns:repeat(1, 100%);
            grid-template-rows: 600px 600px 600px 50% 600px;
           grid-template-areas:
           "nav"
           "presentacion"
           "nosotros"
           "productos"
           "footer";  
        }
     nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        display: grid;
        background-color:  rgb(231, 150, 44);}
        .nav{
        display: flex;
        text-align: center;   
    }
    .nav a{
        padding: none;
        background-color: rgb(254, 254, 254);
        text-align: center;
    }
    .nav img{
        display: none;
    }
    
    /*presentacion*/
    .presentacion{
        display: grid;
        align-items: center;
        text-align: center;
       }
     /*aca va el sillon con su p*/
    
    .nosotros{
        width: 100%;
        display: flex;
         justify-content: center;
        text-align: center;
        background-color: rgb(232, 179, 114);
        align-items: center;
       }
     .nosotros p{
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 20px;
       }
    .nosotros img{display: none;
    }
     /*mejoramos la parte de productos "fotos"*/
    
    .productos{ display: flex;
        justify-content: center;
        display: grid;
        grid-area: productos;
        width: 100%;
        ; }
    .flex-productos{  display: flex;
        display: grid;
       justify-content: center; 
       width:100%;
    }
     .flex-productos img{
        display: flex;
        text-align: center;
        width: 100%;
       
        border: none ;
        justify-content: center; 
    }
    .productos h1{
        text-align: center;
    }
    /*footer*/
    .footer{
        display: grid;
        text-align: center;
    }
        /*aca vamos a hacer el grid del index productos*/
     .conteiner3{
        display: grid;
        grid-template-columns:repeat(1, 100%) ;
        grid-template-rows: 600px 90% 600px ;
       grid-template-areas:
       "nav "
       "productos "
       "footer  " ;  
    }
    
    .nav{display: grid;
        grid-area: nav;
        background-color:white;
       
    }
    
    .productos1{display: grid;
        display: flex;
       justify-content: center;
        grid-area: productos;
    }
    .productos1 img{
        display: flex;
        max-height: 400px;
        text-align: center
    }
   
    
    
    } 